{% load i18n %}

<html>
  <body>
    <p>{% trans "This window should automatically close. If it does not, it should be save to close after a few seconds." %}</p>
    <pre>{{ message }}</pre>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        // post message to parent window
        console.log("posting message to {{ base_url }}");
        opener.location.href = "{{ base_url }}/calendar";
        window.close();
      });
    </script>
  </body>
</html>