:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  color: var(--blue);
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding-inline-start: 35px;
}

svg {
  width: 100%;
  visibility: hidden;
}

h1 {
  font-size: 7.5em;
  margin: 15px 0;
  font-weight: bold;
  color: #794579;
}

h2 {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}