html,
body {
  width: 100%;
  color: #333333;
  height: 100%;
}

body {
  background: #f9f9f9;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
}

.day__button {
  background: #f5f7fa;
  min-height: 20px;
  margin: 5px;
  padding: 2px 2px 2px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.noUnderline {
  text-decoration: none;
}

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(150px, 1fr));
  grid-template-rows: 50px;
  overflow: auto;
}

.calendar-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fdfdfd;
  max-width: 1200px;
  margin-bottom: 50px;
}

.header-nav {
  margin-bottom: 40px;
}

.calendar-header {
  text-align: center;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafbfd), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}

.calendar-header h1 {
  margin: 0;
  font-size: 18px;
}

.calendar-header p {
  margin: 5px 0 0 0;
  font-size: 13px;
  font-weight: 600;
  color: rgba(81, 86, 93, 0.4);
}

.calendar-header button {
  background: 0;
  border: 0;
  padding: 0;
  color: rgba(81, 86, 93, 0.7);
  cursor: pointer;
  outline: 0;
}

.day__notFree {
  background: #f5080845;
}

.day__free {
  background: #31769061;
}

.day__your {
  background: #ec990145;
}

.error {
  background: #ff0000;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: left;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.day:nth-of-type(7n + 7) {
  border-right: 0;
}

.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}

.day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}

.day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}

.day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}

.day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}

.day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}

.day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}

.day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}

.day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}

.day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}

.day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}

.day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}

.day-name {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 50px;
  font-weight: 500;
}

.day--disabled {
  color: rgba(152, 160, 166, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed !important;
}

.day--disabled div {
  cursor: not-allowed;
}

.day-number {
  margin-bottom: 10px;
  cursor: pointer !important;
}

.icon-button {
  cursor: pointer;
  color: #333333;
}

.header-nav {
  background: #fdfdfd;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.header-nav-wrapper {
  * {
    color: #333333;
  }
}

.day-times {
  max-height: fit-content !important;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  cursor: pointer !important;
}

.fa-arrow-down {
  display: inline-block;
}

.fa-arrow-up {
  display: none;
}

.arrow-up {
  .fa-arrow-down {
    display: none;
  }

  .fa-arrow-up {
    display: inline-block;
  }
}
