body {
  color: #333333;
}
body * {
  flex-wrap: wrap;
}

.header-nav {
  background: #ccc9c7;
}

.services {
  max-width: 1400px;
  display: flex;
  margin: 0 auto 80px;
  margin-top: 40px;
}

.services__title {
  margin-bottom: 40px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .services__title {
    font-size: calc(36px + (3.4 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .services__title {
    font-size: calc(36px + (2 * (100vw / 1400))) !important;
  }
}

.services-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.services-item-text__title {
  font-weight: bold;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .services-item-text__title {
    font-size: calc(18px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .services-item-text__title {
    font-size: calc(18px + (6 * (100vw / 1400))) !important;
  }
}

.services-item {
  flex-basis: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 3%;
  min-width: 200px;
  flex-grow: 1;
  display: flex;
}

.services-item-text {
  width: 80%;
}

.services-item__num {
  width: 16%;
}

.use {
  display: flex;
  justify-content: center;
  background: #f6f4f2;
  padding-top: 60px;
}

.use-wrapper {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 40px;
}

.use-spec {
  display: flex;
  flex-direction: column;
  flex-basis: 66%;
  flex-grow: 1;
  margin-right: 4%;
  min-width: 300px;
}

.use-links {
  flex-grow: 1;
  flex-basis: 19%;
  margin-right: 1%;
  min-width: 300px;
}

.use-links__title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .use-links__title {
    font-size: calc(36px + (13.6 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-links__title {
    font-size: calc(36px + (8 * (100vw / 1400))) !important;
  }
}

.use-links__subtitle {
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .use-links__subtitle {
    font-size: calc(16px + (3.4 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-links__subtitle {
    font-size: calc(16px + (2 * (100vw / 1400))) !important;
  }
}
@media (max-width: 767px) {
  .use-links__subtitle {
    line-height: calc(20px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-links__subtitle {
    line-height: calc(20px + (6 * (100vw / 1400))) !important;
  }
}
.use-links__subtitle p {
  margin-bottom: 15px;
}

.use-links__about {
  margin-bottom: 15px;
  color: #6f6f6f;
}

.use-spec__title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .use-spec__title {
    font-size: calc(36px + (13.6 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-spec__title {
    font-size: calc(36px + (8 * (100vw / 1400))) !important;
  }
}

@media (max-width: 767px) {
  .use-spec-item-text__title {
    font-size: calc(20px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-spec-item-text__title {
    font-size: calc(20px + (6 * (100vw / 1400))) !important;
  }
}

.use-spec-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.use-spec-item-text__about {
  color: #6f6f6f;
}

.use-spec-item__img {
  flex-basis: 30%;
  flex-grow: 1;
  margin-right: 20px;
  min-width: 180px;
  margin-bottom: 20px;
  display: flex;
}
.use-spec-item__img * {
  border-radius: 10px;
  width: 100%;
}

.use-spec-item-text {
  flex-basis: 66%;
  flex-grow: 1;
  margin: auto 0;
}

@media (max-width: 767px) {
  .use-links-item__text {
    font-size: calc(20px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .use-links-item__text {
    font-size: calc(20px + (4 * (100vw / 1400))) !important;
  }
}

.use-links-item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.use-links-item__icon {
  margin-right: 10px;
}
.use-links-item__icon * {
  color: var(--orange);
}

.use-links-item {
  margin-bottom: 10px;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px "Roboto", sans-serif;
  margin-right: 10px;
}

/*# sourceMappingURL=features.css.map */
