@import "adaptive-font.scss";

@media only screen and (max-width: 500px) {
  .header-nav__logo__name {
    display: none;
  }

  .header-nav-login-wrapper {
    width: 80px !important;
  }
}

@media only screen and (max-width: 1250px) {
  .header-nav-menu * {
    display: none;
  }
  .header-nav-menu *:first-child {
    display: block;
  }
}

.header {
  background: #ffffff;
  min-height: 100vh;
  width: 100%;
  background: url("../img/headerbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-nav {
  width: 100%;
  height: 90px;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-nav * {
  color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
}

.header-nav-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
}

.header-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.header-nav__logo * {
  margin-right: 10px;
}

.header-nav__logo__link__img {
  width: 70px;
  height: 80px;
}

.header-nav__logo__name {
  font-weight: bold;
}

@media (max-width: 767px) {
  .header-nav__logo__name {
    font-size: calc(32px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}

@media (min-width: 767px) {
  .header-nav__logo__name {
    font-size: calc(32px + (4 * (100vw / 1400))) !important;
  }
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.header-nav-menu-wrapper__link {
  @include adaptive-font(18, 14, 1400)
}

.header-nav-menu-wrapper__link__title {
  @include adaptive-font(28, 24, 1400)
}

.header-nav-login {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 2%;
}

.header-nav-login-wrapper {
  border: 2px var(--orange) solid;
  border-radius: 40px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .header-nav-login-wrapper__link {
    font-size: calc(18px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}

@media (min-width: 767px) {
  .header-nav-login-wrapper__link {
    font-size: calc(18px + (4 * (100vw / 1400))) !important;
  }
}

.header-about {
  height: calc(100% - 111px);
  display: flex;
  align-items: center;
}

.header-about-text {
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 10;
  padding-left: 2%;
  padding-right: 2%;
  color: #ffffff;
}

.header-about-text-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}

.header-about-text-wrapper * {
  margin-bottom: 10px;
}

.header-about-text__upper {
  font-weight: bold;
}

@media (max-width: 767px) {
  .header-about-text__upper {
    font-size: calc(40px + (17 * ((100vw - 320px) / 1400))) !important;
  }
}

@media (min-width: 767px) {
  .header-about-text__upper {
    font-size: calc(40px + (10 * (100vw / 1400))) !important;
  }
}

.header-about-text__middle {
  font-weight: bold;
  color: var(--orange);
  font-style: italic;
}

@media (max-width: 767px) {
  .header-about-text__middle {
    font-size: calc(30px + (17 * ((100vw - 320px) / 1400))) !important;
  }
}

@media (min-width: 767px) {
  .header-about-text__middle {
    font-size: calc(30px + (10 * (100vw / 1400))) !important;
  }
}

@media (max-width: 767px) {
  .header-about-text__bottom {
    font-size: calc(24px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}

@media (min-width: 767px) {
  .header-about-text__bottom {
    font-size: calc(24px + (6 * (100vw / 1400))) !important;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;

    text-align: center;
    font-size: 16px;

    ul li {
      border-bottom: 4px solid var(--orange);
      list-style: none;
      margin: 0 auto;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: var(--orange);
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 4px solid var(--orange);
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: var(--orange);
    }

}

 ul li ul li a { transition: all 0.5s ease; }

/*# sourceMappingURL=header-nav.css.map */
