input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.primary-navigation {
  z-index: 1;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.content__cover {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(70vh + 30px);
}

.container-login100 {
  width: calc(100% - 0px);
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #1c283ef7;
}

.header-nav {
  background: #ffffff;

  border-bottom: 0px;

  * {
    color: #333333 !important;
  }
}

.wrap-login100 {
  width: 390px;
  background: #ffffffe8;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  margin: 15px;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 30px;
  color: #333333;
  text-align: center;
}

.login100-form-title i {
  font-size: 60px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;

  * {

  }
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: calc(100% - 10px);
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: linear-gradient(90deg, rgba(230, 120, 23, 1) 0%, rgba(233, 200, 170, 1) 100%);
}

.focus-input100::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 70%;
  display: block;
  position: relative;
  z-index: 1;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(230, 120, 23, 1) 0%, rgb(233, 171, 136) 100%);
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-btn {
  color: #fff;
  line-height: 1.2;
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  background: linear-gradient(90deg, rgba(230, 120, 23, 1) 0%, rgb(233, 171, 136) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 70%;
  height: 60px;
  transition: all 0.4s;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.microsoft-auth {
  margin-top: 20px;
  color: #ffffff;
}

.login-auth, .microsoft-auth {
  i {
    margin-right: 10px;
  }
}

.login100-form-title {
  padding-bottom: 30px;
}