:root {
  --orange: #E67817;
  --purple: #4D485C;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: #333333;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

.typo-bold {
  font-weight: 700;
}

.typo-orange {
  color: var(--orange);
}

.typo-nowrap {
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.footer-wrapper {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-wrapper-item {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 19%;
  margin-left: 3%;
  margin-right: 3%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.footer-wrapper-item * {
  text-align: center;
}

.footer-wrapper-item__icon {
  margin-bottom: 30px;
  color: var(--orange);
  font-size: 60px;
}

.footer-wrapper-item__name {
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer-wrapper-item__name {
    font-size: calc(18px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .footer-wrapper-item__name {
    font-size: calc(18px + (6 * (100vw / 1400))) !important;
  }
}

.footer-wrapper-item__about {
  line-height: 30px;
}
@media (max-width: 767px) {
  .footer-wrapper-item__about {
    font-size: calc(18px + (3.4 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .footer-wrapper-item__about {
    font-size: calc(18px + (2 * (100vw / 1400))) !important;
  }
}

.copyright {
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-wrapper {
  display: flex;
  max-width: 1000px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.copyright-wrapper-name {
  font-style: italic;
  margin-left: 4%;
}
@media (max-width: 767px) {
  .copyright-wrapper-name {
    font-size: calc(16px + (3.4 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .copyright-wrapper-name {
    font-size: calc(16px + (2 * (100vw / 1400))) !important;
  }
}

.copyright-wrapper-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 180px;
}

.copyright-wrapper-soc-item {
  min-width: 40px;
  flex-basis: 21%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  max-width: 40px;
}

.copyright-wrapper-soc-link {
  color: var(--orange);
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .header-nav__logo__name {
    display: none;
  }

  .header-nav-login-wrapper {
    width: 80px !important;
  }
}
@media only screen and (max-width: 950px) {
  .header-nav-menu * {
    display: none;
  }
  .header-nav-menu *:first-child {
    display: block;
  }
}
.header-nav {
  width: 100%;
  height: 90px;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 10px;
  padding-top: 10px;
}
.header-nav * {
  color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
}

.header-nav-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
}

.header-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.header-nav__logo * {
  margin-right: 10px;
}

.header-nav__logo__link__img {
  width: 70px;
  height: 80px;
}

.header-nav__logo__name {
  font-weight: bold;
}
@media (max-width: 767px) {
  .header-nav__logo__name {
    font-size: calc(32px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-nav__logo__name {
    font-size: calc(32px + (4 * (100vw / 1400))) !important;
  }
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.header-nav-menu-wrapper__link {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .header-nav-menu-wrapper__link {
    font-size: calc(18px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-nav-menu-wrapper__link {
    font-size: calc(18px + (4 * (100vw / 1400))) !important;
  }
}

.header-nav-login {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header-nav-login-wrapper {
  border: 2px var(--orange) solid;
  border-radius: 40px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .header-nav-login-wrapper__link {
    font-size: calc(18px + (6.8 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-nav-login-wrapper__link {
    font-size: calc(18px + (4 * (100vw / 1400))) !important;
  }
}

.header-about {
  height: calc(100% - 111px);
  display: flex;
  align-items: center;
}

.header-about-text {
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 10;
  padding-left: 2%;
  padding-right: 2%;
  color: #ffffff;
}

.header-about-text-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.header-about-text-wrapper * {
  margin-bottom: 10px;
}

.header-about-text__upper {
  font-weight: bold;
}
@media (max-width: 767px) {
  .header-about-text__upper {
    font-size: calc(40px + (17 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-about-text__upper {
    font-size: calc(40px + (10 * (100vw / 1400))) !important;
  }
}

.header-about-text__middle {
  font-weight: bold;
  color: var(--orange);
  font-style: italic;
}
@media (max-width: 767px) {
  .header-about-text__middle {
    font-size: calc(30px + (17 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-about-text__middle {
    font-size: calc(30px + (10 * (100vw / 1400))) !important;
  }
}

@media (max-width: 767px) {
  .header-about-text__bottom {
    font-size: calc(24px + (10.2 * ((100vw - 320px) / 1400))) !important;
  }
}
@media (min-width: 767px) {
  .header-about-text__bottom {
    font-size: calc(24px + (6 * (100vw / 1400))) !important;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.linkUp {
  background: linear-gradient(to bottom, var(--orange) 0%, var(--orange) 100%) repeat-x 0 100%;
  background-size: 4px 4px;
  color: #333;
  text-decoration: none;
  transition: background-size 0.2s;
}

.linkUp:hover {
  color: #ffffff !important;
}

.linkUp:hover {
  background-size: 4px 50px;
}
.linkUp:hover * {
  color: #ffffff !important;
}

/*# sourceMappingURL=style.css.map */
