@import 'adaptive-font.scss';

:root {
  --orange: #E67817;
  --purple: #4D485C;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  color: #333333;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

.typo-bold {
  font-weight: 700;
}

.typo-orange {
  color: var(--orange);
}

.typo-nowrap {
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.footer-wrapper {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-wrapper-item {
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 19%;
  margin-left: 3%;
  margin-right: 3%;
  flex-grow: 1;
  margin-bottom: 20px;

  * {
    text-align: center;
  }
}

.footer-wrapper-item__icon {
  margin-bottom: 30px;
  color: var(--orange);
  font-size: 60px;
}

.footer-wrapper-item__name {
  @include adaptive-font(24, 18, 1400);
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-wrapper-item__about {
  @include adaptive-font(20, 18, 1400);
  line-height: 30px;
}

.copyright {
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-wrapper {
  display: flex;
  max-width: 1000px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.copyright-wrapper-name {
  @include adaptive-font(18, 16, 1400);
  font-style: italic;
  margin-left: 4%;
}

.copyright-wrapper-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 180px;
}

.copyright-wrapper-soc-item {
  min-width: 40px;
  flex-basis: 21%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  max-width: 40px;
}

.copyright-wrapper-soc-link {
  color: var(--orange);
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .header-nav__logo__name {
    display: none;
  }
  .header-nav-login-wrapper {
    width: 80px !important;
  }
}

@media only screen and (max-width: 950px) {
  .header-nav-menu {
    * {
      display: none;
    }

    *:first-child {
      display: block;
    }
  }
}

.header-nav {
  width: 100%;
  height: 90px;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 10px;
  padding-top: 10px;

  * {
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.header-nav-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
}

.header-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  * {
    margin-right: 10px;
  }
}

.header-nav__logo__link__img {
  width: 70px;
  height: 80px;
}

.header-nav__logo__name {
  @include adaptive-font(36, 32, 1400);
  font-weight: bold;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.header-nav-menu-wrapper__link {
  @include adaptive-font(22, 18, 1400);
  margin-right: 10px;
}

.header-nav-login {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header-nav-login-wrapper {
  border: 2px var(--orange) solid;
  border-radius: 40px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-login-wrapper__link {
  @include adaptive-font(22, 18, 1400);
}

.header-about {
  height: calc(100% - 111px);
  display: flex;
  align-items: center;
}

.header-about-text {
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 10;
  padding-left: 2%;
  padding-right: 2%;
  color: #ffffff;
}

.header-about-text-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;

  * {
    margin-bottom: 10px;
  }
}

.header-about-text__upper {
  @include adaptive-font(50, 40, 1400);
  font-weight: bold;
}

.header-about-text__middle {
  @include adaptive-font(40, 30, 1400);
  font-weight: bold;
  color: var(--orange);
  font-style: italic;
}

.header-about-text__bottom {
  @include adaptive-font(30, 24, 1400);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.linkUp {
  background: linear-gradient(to bottom, var(--orange) 0%, var(--orange) 100%) repeat-x 0 100%;
  background-size: 4px 4px;
  color: #333;
  text-decoration: none;
  transition: background-size .2s;
}

.linkUp:hover {
  color: #ffffff !important;
}

.linkUp:hover {
  background-size: 4px 50px;

  * {
    color: #ffffff !important;
  }
}