<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript">
    particlesJS("particles-js", {
        "particles": {
            "number": {"value": 80, "density": {"enable": !0, "value_area": 800}},
            "color": {"value": "#e67817"},
            "shape": {
                "type": "circle",
                "stroke": {"width": 0, "color": "#000000"},
                "polygon": {"nb_sides": 5},
                "image": {"src": "img/github.svg", "width": 100, "height": 100}
            },
            "opacity": {"value": .5, "random": !1, "anim": {"enable": !1, "speed": 1, "opacity_min": .1, "sync": !1}},
            "size": {"value": 3, "random": !0, "anim": {"enable": !1, "speed": 40, "size_min": .1, "sync": !1}},
            "line_linked": {"enable": !0, "distance": 150, "color": "#e67817", "opacity": .4, "width": 1.5},
            "move": {
                "enable": !0,
                "speed": 1.5,
                "direction": "none",
                "random": !1,
                "straight": !1,
                "out_mode": "out",
                "bounce": !1,
                "attract": {"enable": !1, "rotateX": 600, "rotateY": 1200}
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {"enable": false, "mode": "grab"},
                "onclick": {"enable": true, "mode": "push"},
                "resize": true
            },
            "modes": {
                "grab": {"distance": 400, "line_linked": {"opacity": 1}},
                "bubble": {"distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3},
                "repulse": {"distance": 200, "duration": 0.4},
                "push": {"particles_nb": 4},
                "remove": {"particles_nb": 2}
            }
        },
        "retina_detect": !0
    });
</script>
<script>
    AOS.init({
        once: true,
        duration: 800,
    });
</script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>